@import "./custom.scss";
@import "./utils.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  color: $dark;
  background-color: $light;
  font-family: 'Poppins', sans-serif;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

h3 {
  font-size: pxToRem(30);
  letter-spacing: pxToRem(0.2);
}

p {
  font-size: pxToRem(14);
  letter-spacing: pxToRem(0.2);
}

small {
  font-size: pxToRem(12);
  font-weight: 400;
  letter-spacing: pxToRem(0.2);
}

.btn {
  font-size: pxToRem(14);
  font-weight: 600;
  color: #fff;
  letter-spacing: pxToRem(0.4);
  padding: pxToRem(19) pxToRem(36);
  border-radius: pxToRem(30);

  @media (max-width: 991px) {
    padding: pxToRem(16) pxToRem(32);
  }

  &:hover, &:active, &:visited, &:focus, &:focus-visible, &:focus-within {
    color: #fff;
  }
}

.footer-strip {
  background-color: #0E0D2D;
}
